<div class="menu">
    <div class="logo">
        <div class="iconbar"></div>
        <div class="logo-text">
            CUKCUK
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-item">
            <div class="menu-item-icon"></div>
            <div class="menu-item-text">
                Quản lí nhân viên
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon"></div>
            <div class="menu-item-text">
                Quản lí khách hàng
            </div>
        </div>
    </div>
</div>